<section class="grid-100 mobile-grid-100">
  
  <article class="grid-50 mobile-grid-100" id="intro">
    <h3>Welcome to Alberta Beach Estates</h3>
    <p> Here you will find all you need to know about Alberta Beach's newest community built for sustainability and community</p>
  </article>

  <%= link_to(new_registrant_path) do %>
    <article class="grid-50 mobile-grid-100" id="registration_link">
      <h3>REGISTER HERE</h3>
      <h4>Breaking ground Spring 2014! And stay up-to-date on this incredible eco-friendly community!</h4>
    </article>
  <% end %>

</section>