<section class="grid-100 mobile-grid-100">
  <article class="grid-50 mobile-grid-100 intro">
    <h4>Welcome to Aberta Beach Estates</h4>
    <p> Here you will find all you need to know about Alberta Beache's newest community built for sustainability and community</p>
  </article>
  <article class="grid-50 mobile-grid-100">
    <h3>REGISTER NOW</h3>
  </article>
</section>