<section class="grid-100 mobile-grid-100">
  <article class="grid-33">Cottage Life</article>
  <article class="grid-33">Primary Residence</article>
  <article class="grid-33">Retirment Living</article>
</section>