$background_color: #FFC273;
$non-standard-font: #FFC273;
$background-offset: #BF5730;
$font-color: #A65E00;
$navigation-background: #000000;
$large_button_background: #FF4500;
$font_link_color: #FFBE00;