$background_color: #FFC273;
$non-standard-font: #FFC273;
$background-offset: #BF5730;
$font-color: #000000;
$navigation-background: #000000;
$large_button_background: #A62D00;
$font_link_color: #FFBE00;