@import "colors";
@import "fonts";

footer {
  width: 100%;
  background-color: $navigation-background;
  border-top: 5px solid lighten($navigation-background, 25%);
  bottom: 0px;
  .footer_container {
    color: $non-standard-font;
    font-family: $font_family_text;
    .social_media_link {
      li {
        float: left;
      }
      img {
        width: 100%;
      }
    }
    .copyright {
      text-align: right;
    }
  }
}