@import "colors";
@import "fonts";

body {
  text-align: center;
  margin: 0px;
  background: $background_color;
  line-height: 1.4em;
  font-weight: 600;
  font-size: $font_size_text;
  font-family: $font_family_text
}

nav {
  width: 100%;
  background-color: $navigation-background;
  border-bottom: 5px solid lighten($navigation-background, 25%);
  overflow: auto;
}

a {
  text-decoration: none;
  color: $non-standard-font;
}

section {
  clear: both;
  margin: 10px 0px;
}

// .grid-50:first-child {
//   border-right: 1px solid black;
// }

footer {
  clear: both;
}