@import "colors";
@import "fonts";

$header_line_height: 1.5em;

body {
  text-align: center;
  margin: 0px;
  background: $background_color;
  line-height: 1.4em;
  font-weight: 600;
  font-size: $font_size_text;
  font-family: $font_family_text;
  color: $font-color;
}

h1 {
  font-size: 200%;
  line-height: $header_line_height;
}

h2 {
  font-size: 180%;
  line-height: $header_line_height;
}

h3 {
  font-size: 160%;
  line-height: $header_line_height;
}

h4 {
  font-size: 140%;
  line-height: $header_line_height;
}

h5 {
  font-size: 120%;
  line-height: $header_line_height;
}

h6 { 
  font-size: 100%;
  line-height: $header_line_height;
}

nav {
  width: 100%;
  background-color: $navigation-background;
  border-bottom: 5px solid lighten($navigation-background, 25%);
  overflow: auto;
}

a {
  text-decoration: none;
  color: $non-standard-font;
}

section {
  clear: both;
  margin: 10px 0px;
}

.left_justify {
  text-align: left;
}

footer {
  clear: both;
}