body {
  text-align: center;
  background: #6c4c28;
  line-height: 1.4em;
  font-weight: 600;
}

a {
  text-decoration: none;
}

#wrapper {
  width: 960px;
  margin: 0px auto;
}

#banner_logo {
  background: url("logo_banner.jpg") no-repeat;
  width: 100%;
  height: 401px;
  clear: both;
}

#nav ol {
  float: right;
  position: relative;
  top: 349px;
}

.nav_item {
  float: left;
  margin-top: 5px;
  padding: 12px 10px;
  border-right: 1px solid black;
  letter-spacing: 1px;
  background: url("background/nav_background.jpg");
}

.nav_item:last-child {
    border: none;
  }