@import "colors";
@import "fonts";

#banner_logo {
  background: url(image-path('background/logo_banner.jpg')) no-repeat center;
  min-height: 23.3125em;
  overflow: auto;
}

.mobile_banner {
  text-align: left;
  color: $non-standard-font;
  display: inline-block;
  font-size: $font_mobile_size_heading;
}

#nav {
  overflow: auto;
  float: right;
}

.nav_item {
  float: left;
  padding: 12px 10px;
  border-right: 1px solid black;
  letter-spacing: 1px;
  background-color: $background-offset;
  font-size: $font__size_heading;
  font-family: $font_family_heading;
}

.mobile_nav_item {
  float: left;
  padding: 6px 5px;
  border-right: 1px solid black;
  letter-spacing: 1px;
  background-color: $background-offset;
  font-size: $font_mobile_size_heading;
  font-family: $font_family_heading;

}

.nav_item:last-child {
    border: none;
  }