@import "colors";
@import "fonts";

.intro {
  padding: 10px;
}

.registration_link {
  background-color: $large_button_background;
  border-bottom: 5px solid darken($large_button_background, 25%);
  // border-radius: 10px;
  color: $font_link_color;
  transition: 0.5s;
}

.registration_link:hover {
  background-color: darken($large_button_background, 10%);
  border-bottom: 5px solid darken($large_button_background, 20%);
}

#interest_section {
  margin-top: 5%;
}
.interest {
  // border-radius: 10px;
  transition: 0.5s;
  img {
    position: relative;
    width: 100%;
  } 
  .interest_content {
    position: relative;
    color: $font-color;
  }
}

.interest:hover {
  background-color: $background-offset;
  .interest_content {
    color: $non-standard-font;
  }
}